
services:

  nginx:
    build:
      context:  ./requirements/nginx
    image: nginx
    pull_policy: if_not_present  # if image was found localy
    container_name: nginx
    depends_on:
      wordpress:
        condition: service_healthy
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html
    networks:
      - external_net
      - wp_net
    restart: always              # Auto-restart if the container crashes
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    stop_grace_period: 4s 

  wordpress:
    build:
      context: ./requirements/wordpress
    image: wordpress
    pull_policy: if_not_present
    container_name: wordpress
    depends_on:
      mariadb:
        condition: service_healthy
    environment:
      MYSQL_USER:     ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      WP_URL:         ${WP_URL}
      WP_TITLE:       ${WP_TITLE}
      WP_ADMIN_USER:  ${WP_ADMIN_USER}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_USER:        ${WP_USER}
      WP_USER_EMAIL:  ${WP_USER_EMAIL}
    secrets:
      - db_user_password
      - wp_admin_password
      - wp_user_password
    volumes:
      - wp_data:/var/www/html
    networks:
      - wp_net
      - db_net
      - cache_net
      - external_net
    restart: always
    stop_grace_period: 4s   # Wait max 4 seconds before SIGKILL
    healthcheck:
      test: 
        - CMD-SHELL
        - |
          test -f /var/www/html/wp-config.php && 
          test -d /var/www/html/wp-content/plugins/redis-cache && 
          pgrep -f php-fpm > /dev/null
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 70s
  mariadb:
    build:
      context: ./requirements/mariadb
    image: mariadb
    pull_policy: if_not_present
    container_name: mariadb
    environment:
      MYSQL_USER:     ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    secrets:
      - db_root_password
      - db_user_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - db_net
    restart: always
    stop_grace_period: 4s
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 12s 
  redis:
    build:
      context: ./requirements/bonus/redis
    image: redis
    pull_policy: if_not_present
    container_name: redis
    restart: always
    depends_on:
    - wordpress
    networks:
    - cache_net
    stop_grace_period: 4s 

  ftp:
    build:
      context: ./requirements/bonus/ftp
    image: ftp
    pull_policy: if_not_present
    container_name: ftp
    restart: always
    depends_on:
      - wordpress
    environment:
      FTP_ADMIN_USER: ${FTP_ADMIN_USER}
      FTP_USER: ${FTP_USER}
    secrets:
    - ftp_user_password
    - ftp_admin_password
    ports:
    - "21:21"
    - "21100-21110:21100-21110"
    volumes:
    - wp_data:/var/www/html
    networks:
    - wp_net
    - external_net
    stop_grace_period: 4s


  adminer:
    build:
      context: ./requirements/bonus/adminer
    image: adminer
    container_name: adminer
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    environment:
      DATABASE_HOST: mariadb
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    secrets:
    - db_user_password
    ports:
    - "8080:8080"
    networks:
    - db_net
    - external_net
    stop_grace_period: 3s
    stop_signal: SIGKILL

  portainer:
    build:
      context: ./requirements/bonus/portainer
    image: portainer
    container_name: portainer
    restart: always
    ports:
    - "9443:9443"
    secrets:
    - portainer_admin_password
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - portainer_data:/data
    networks:
    - external_net

  apache:
    build:
      context: ./requirements/bonus/apache
    image: apache
    container_name: apache
    restart: always
    ports:
    - "8888:80"
    networks:
      - external_net


volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      o: bind                      # "Bind" maps a specific folder on your PC
      device: /home/${LOGIN}/data/db
  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/wp
  portainer_data:
    driver: local


networks:
  db_net:
    internal: true
  wp_net:
    internal: true
  cache_net:
    internal: true
  external_net:

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_user_password:
    file: ../secrets/db_user_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
  ftp_admin_password:
    file: ../secrets/ftp_admin_password.txt
  ftp_user_password:
    file: ../secrets/ftp_user_password.txt
  portainer_admin_password:
    file: ../secrets/portainer_admin_password.txt